DB_HOST=postgres
DB_PORT=5432
DB_NAME=InnovateFuture
DB_USER=db_admin
DB_PASS=123321abb
PG_USER=db@inff.com
PG_PASS=q4hbGe7N3EAy

JWT_SECRET=f9X1zLrIMT6rOWTFbV7R9qlPjwD9LlA9K8UEtWmCp7U=
DEP_ENV=Development

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rmq