{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DBConnection": "Host=container-postgres;Port=5432;Database=inff_database;Username=inff_user;Password=inff_user",
  "JWTConfig": {
      "SecretKey": "SecretKeyExample",
      "Issuer": "innovateFuture",
      "Audience": "innovateFuture",
      "ExpireSeconds": 7200
    }
}
