{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DBConnection": "Host=container-postgres;Database=inff_database;Username=postgres;Password=postgres",
  "JWTConfig": {
      "SecretKey": "SecretKeyExample",
      "Issuer": "innovateFuture",
      "Audience": "innovateFuture",
      "ExpireSeconds": 7200
    }
}